%% -*- mode: erlang; erlang-indent-level: 2 -*-
{erl_opts,    [debug_info, warnings_as_errors]}.

{pre_hooks, [{"linux", compile, "priv/generator/generate.sh"},

{port_env,
 [{"CFLAGS",
   "-pthread "
   "-I/usr/include/glib-2.0 "
   "-I/usr/lib64/glib-2.0/include "
   "-I/usr/include/libglade-2.0 "
   "-I/usr/include/gtk-2.0 "
   "-I/usr/include/libxml2 "
   "-I/usr/lib64/gtk-2.0/include "
   "-I/usr/include/atk-1.0 "
   "-I/usr/include/cairo "
   "-I/usr/include/gdk-pixbuf-2.0 "
   "-I/usr/include/pango-1.0 "
   "-I/usr/include/pixman-1 "
   "-I/usr/include/freetype2 "
   "-I/usr/include/libpng12 "
   "-I/usr/local/lib/erlang/lib/erl_interface-3.7.15/include "
   "-g -O2 -MT gtknode-gtknode.o -MD -MP -MF -c"}]}.

{port_specs,
 [{"linux", "priv/gtknode",["c_src/*.c"]}]}.

